# See https://help.github.com/ignore-files/ for more about ignoring files.

# ide
.idea/

# dependencies
/node_modules

# testing
/coverage

# production
/docs
/dist

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
types
