language: node_js
node_js:
  - "10"
  - "8"

cache:
  directories:
    - node_modules

before_script:
  - npm uninstall typescript --no-save
  - npm uninstall tslint --no-save
  - npm install

script:
  - npm run test

after_success:
  - npm run coverage

branches:
  only:
    - master
